<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  <h1 class="bg-dark-subtle p-2 text-center text-dark w-100 mb-5">MI CARRITO</h1>
  {{#if cartItems.length}}
    <div class="row my-4">
      {{#each cartItems}}
        <div class="col-md-4 d-flex justify-content-center mb-4">
          <div class="card border-0 shadow-sm text-center" style="width: 18rem;">
            <img src="{{this.product_id.image}}" class="card-img-top" style="height: 12rem; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title">{{this.product_id.title}}</h5>
              <p class="card-text">USD {{this.product_id.price}}</p>
              <p>Cantidad: {{this.quantity}}</p>
              <p class="text-muted">Estado: {{this.state}}</p>
              <div class="d-flex justify-content-center gap-2">
                <button class="btn btn-warning btn-sm" onclick="removeOne('{{this.product_id._id}}')">-1</button>
                <button class="btn btn-danger btn-sm" onclick="removeAll('{{this.product_id._id}}')">Vaciar</button>
                </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p class="text-center text-muted">Carrito vacio</p>
  {{/if}}
</main>

<script src="/scripts/cart.js"></script>

